@use "@/styles/variables.scss" as var;

.calendar-button {
  background-color: var.$color-calendar;
  border: 2px solid var.$color-border;
  color: var.$color-text;
  font-weight: bold;
  font-size: var.$font-size-sm;
  padding: 10px 20px;
  box-shadow: 0 2px 5px var.$color-shadow;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calendar-button:hover {
  background-color: var.$color-button;
}

.calendar-button:disabled {
  color: var.$color-text-transparent;
}

.calendar-button--primary {
  border-radius: var.$radius-sm;
}

.calendar-button--arrow {
  border-radius: var.$radius-lg;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-button--view-week {
  border-right: none;
  border-top-left-radius: var.$radius-sm;
  border-bottom-left-radius: var.$radius-sm;
  padding: 10px 15px;
}

.calendar-button--view-day {
  border-top-right-radius: var.$radius-sm;
  border-bottom-right-radius: var.$radius-sm;
  padding: 10px 15px;
}
