@use "@/styles/variables.scss" as var;

.social-link-item {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #00000020;
  border-radius: var.$radius-lg;
  transition:
    background-color 0.3s ease,
    border 0.3s ease;
}

.social-link-item:hover {
  border: none;
  background-color: #e0a449;
}
