@import "../../../../../styles/variables.scss";

.sidebar-about-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 25px;
  text-align: left;
  font-size: 14px;
}
