@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&display=swap");

$color-background: #f7f8fa;
$color-calendar: #ffffff;
$color-text: #6b7a99;
$color-text-transparent: #adb8cc;
$color-text-event: #7d8fb3;
$color-shadow: #26334d0d;
$color-button: #f5f5fa;
$color-shadow-button: #aaaacc80;
$color-border: #f5f6f7;
$color-timeline: #ff6633;

$space-xs: 6px;
$space-sm: 10px;
$space-md: 20px;
$space-lg: 24px;

$time-column-width: 124px;
$header-height: 40px;
$row-height: 68px;

$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 40px;
$font-family-base: "Roboto", sans-serif;
$font-family-logo: "Alumni Sans SC", sans-serif;

$radius-xs: 5px;
$radius-sm: 15px;
$radius-md: 20px;
$radius-lg: 100px;
